{% extends "index.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'Inicio/css/perfil.css' %}">
{% endblock %}


{% block title %}<title>Perfil</title>{% endblock %}

{% block content %}
<div class="container">
    <section>
        <li><span class="datanames">Nombre: </span>
            <span class="datavalues">{{ data.nombre }} </span>
        </li>
        <li><span class="datanames">Rut: </span> 
            <span class="datavalues">{{ data.rut }} </span>
        </li>
        <li><span class="datanames">Teléfono: </span>
            <span class="datavalues">{{ data.telefono }} </span>
        </li>
        <li><span class="datanames">Correo: </span> 
            <span class="datavalues">{{ data.correo }} </span>
        </li> 
    </section>

    <button type="button" class="edit-btn">Editar datos personales</button>

</div>

<script src="{% static 'Inicio/js/perfil.js' %}"></script>
{% endblock %}

