django>=4.2.16
firebase-admin>=5.0.0
pyrebase4>=4.5.0
django-cors-headers>=3.7.0
djangorestframework>=3.13.1
pwnedpasswords>=2.0.0
google-api-python-client>=2.154.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.2.1
pillow>=10.2.0
python-dotenv>=1.0.1