{% extends 'index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Edicion/css/misproductos.css' %}">
{% endblock %}

{% block title %}
    <title>Mis productos</title>
{% endblock %}

{% block content %}

<h1 class="title">Mis productos</h1>
<button type="button" class="add-new-btn" onclick="window.location.href='/Mis-Productos/add'">Nuevo Producto</button>
<div id="container">
    <div id="card-container">
    </div>
</div>


<script src="{% static 'Edicion/js/products.js' %}"></script>
<script src="{% static 'Edicion/js/drawcart.js' %}"></script>

{% endblock %}