.card{
    display: grid;
    grid-template-columns: 5fr 2fr ;
}

.image-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buy-cart-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.dropdown-menu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
