{% extends 'index.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href="{% static 'Ingreso/css/login.css' %}">
{% endblock %}

{% block title %}
    <title>Iniciar Sesion</title>
{% endblock %}

{% block content %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

<div class="login-container">
    
    <form action="{% url 'loginIn' %}" method="POST" class="form-login">
        {% csrf_token %}

        <label for="username">Usuario</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>

        <button type="submit" class="btn-login">Iniciar Sesion</button>
        
        <p>¿No tienes cuenta? <a href="{% url 'registro' %}" class="registrate">Registrate</a> </p>
    </form>

    
{% endblock %}