{% extends 'index.html' %}
{% load static %} 

{% block css%}
    <link rel="stylesheet" href="{% static 'Contacto/css/contacto.css' %}">
{% endblock %}

{% block title %}
    <title>Contacto</title>
{% endblock %}

{% block content %}

{% if mensaje %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
         <h1 class="mensaje"> {{mensaje}} </h1>
    </div>

{% else %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Contacto</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="{% url 'enviarCorreo' %}" method="POST">
                    {% csrf_token %}
                    {{ contacto_form.as_p }}
                    <button type="submit" class="btn btn-primary enviar-btn">Enviar</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}