{% extends 'index.html' %}
{% load static %}
{% block css%}
    <link rel="stylesheet" href="{% static 'Productos/css/productos.css' %}">
{% endblock %}

{% block title %}
    <title>Productos</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="input-group mb-3 search">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <button class="search-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </div>
    <div class="btns-order">
        <button class="filter-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
            </svg>Nuevo
        </button>
        <button class="filter-btn">Menor precio</button>
        <button class="filter-btn">Mayor precio</button>
    </div>          
</div>

<div class="principal-container">
    <div class="filter-container">
        <div class="filter">

            <h3>Filtros</h3>

            <div class="filter-item">
                <h4>Categoria</h4>
                    <select>
                        <option value="1" disabled selected> Seleccione una categoria</option>
                        {% for categoria in categorias %}
                        <option name="categoria" value="{{categoria}}">{{categoria}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="filter-item">
                <h4>Marca</h4>
                <select name="marca" id="marca">
                    <option value="1" disabled selected>Seleccione una marca</option>
                </select>
                </ul>
            </div>
            <div class="filter-item">
                <h4>Color</h4>
                <select name="color" id="color">
                    {% for color in colores %}
                    <option value="{{color}}">{{color}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="product-container">
        <div class="cards">
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
  </ul>
</nav>

<script src="{% static 'Productos/js/api_products.js' %}"></script>
<script src="{% static 'Productos/js/drawcart.js' %}"></script>
{% endblock%}